In [1]:
('Hellow world')

'Hellow world'

In [2]:
name= "Rana"
age=25

In [28]:
type(age)

int

## Data type conversation

In [3]:
'He is ' + name +'. He is ' + str(25) + ' years old'

'He is Rana. He is 25 years old'

## variable formating

In [4]:
print('{} is a good boy and he is {} years old'.format (name, age))

Rana is a good boy and he is 25 years old

In [5]:
print(f'{name} is a good boy and he is {age} years old'.format (name, age))

Rana is a good boy and he is 25 years old

In [6]:
name + ' is ' + str(56.5) +' kg'

'Rana is 56.5 kg'

## Indexing always in third bracket

In [7]:
msg= 'Hellow'

In [8]:
msg[1]

'e'

In [9]:
msg[5]

'w'

In [10]:
msg[-2]

'o'

## Slicing (Exclusive)

In [11]:
 msg[0:5]

'Hello'

In [12]:
msg[1:4]

'ell'

## Input ()

In [13]:
#name=input('what is your name?')
#Id= input ('what is your id?')
#address=input('what is your address?')
#print('He is '+name + ' and his id number is ' + Id + '. He lives in ' +address)

In [14]:
#name= input ('what is your name')
#Id = input('Enter your id')
#print('Welcome ' + name + '! Your id is '+ Id + '. You have been selected.'  )

In [1]:
title= input(' Enter your title: ')
first_name= input(' What is your first name: ')
last_name= input (' What is your last name: ')
phone_number= input (' Enter your phone number: ')
date_of_birth=input (' Enter your Date of birth: ')
availability= input(' From when are you available: ')
salary= input (' what is you annual expected salary: ')
print(title + last_name + '. Thanks for your application.', ' Your application has been successfully submitted.')

 Enter your title: Mr.
 What is your first name: Md Abu
 What is your last name: Rezwan
 Enter your phone number: +4915737624503
 Enter your Date of birth: 10.12.1990
 From when are you available: 05.05.2024
 what is you annual expected salary: 50,000
Mr.Rezwan. Thanks for your application.  Your application has been successfully submitted.

## List

In [1]:
My_list= ['Rezwan', 'Sociology', True, 1]

In [2]:
My_list

['Rezwan', 'Sociology', True, 1]

In [3]:
type(My_list)

list

In [69]:
subjects=[]

In [108]:
subject.append('Anthropology' )

In [106]:
subject

['statistics', 'polital science', 'Data Science', 'Drama']

In [67]:
subject.append('polital science')

In [11]:
subject

['Sociology', 'polital science']

In [12]:
subject.insert(0, 'statistics')

In [13]:
subject

['statistics', 'Sociology', 'polital science']

In [16]:
subject.append(My_list)

In [17]:
subject

['statistics',
 'Sociology',
 'polital science',
 'Rezwan',
 'Sociology',
 True,
 1,
 ['Rezwan', 'Sociology', True, 1]]

In [21]:
subject.extend(My_list)

In [19]:
subject

[['Rezwan', 'Sociology', True, 1],
 'statistics',
 'Sociology',
 'polital science',
 'Rezwan',
 'Sociology',
 True,
 1,
 ['Rezwan', 'Sociology', True, 1]]

## Removing element from list

In [29]:
print(subject.remove('Sociology'))

None

In [30]:
subject

['statistics',
 'polital science',
 'Rezwan',
 True,
 1,
 ['Rezwan', 'Sociology', True, 1],
 'Rezwan',
 'Sociology',
 True,
 1]

In [33]:
print(subject.remove("Rezwan"))

None

In [34]:
subject

['statistics',
 'polital science',
 True,
 1,
 ['Rezwan', 'Sociology', True, 1],
 'Rezwan',
 'Sociology',
 True,
 1,
 'Biology']

In [36]:
print(subject.remove(My_list))

None

In [37]:
subject

['statistics',
 'polital science',
 True,
 1,
 'Rezwan',
 'Sociology',
 True,
 1,
 'Biology']

In [43]:
subject.remove(1)

In [44]:
subject

['statistics', 'polital science', 'Rezwan', 'Sociology', True, 1, 'Biology']

In [45]:
print(subject.remove(1))

None

In [46]:
subject

['statistics', 'polital science', 'Rezwan', 'Sociology', 1, 'Biology']

In [47]:
# list.pop(position)

In [56]:
subject.pop(1)

'Rezwan'

In [57]:
subject

['statistics', 'Biology']

In [61]:
popped_item= subject.pop(1)

In [62]:
subject

['statistics']

In [64]:
popped_item

'Biology'

In [82]:
subject

['statistics', 'polital science', 'english']

In [74]:
num_sub= len(subject)

In [75]:
num_sub

3

In [88]:
print('There are ' + str(num_sub) + ' subjects in the list.')

There are 3 subjects in the list.

In [89]:
subject.sort()

In [90]:
subject

['english', 'polital science', 'statistics']

In [91]:
subject.reverse()

In [92]:
subject

['statistics', 'polital science', 'english']

In [93]:
subject.sort(reverse = True)

In [94]:
subject

['statistics', 'polital science', 'english']

In [96]:
a= sorted(subject) #Temporary sorting

In [97]:
a

['english', 'polital science', 'statistics']

In [98]:
subject[2] = 'Data Science' #Replace

In [109]:
subject

['statistics', 'polital science', 'Data Science', 'Drama', 'Anthropology']

In [100]:
print(subject.index('Data Science')) #Indexing

2

In [101]:
print('Math' in subject)

False

In [104]:
print('Data Science' in subject)

True

## For loop

In [110]:
for items in subject:
    print(items)

statistics
polital science
Data Science
Drama
Anthropology

In [116]:
for index, iteams in enumerate(subject):
    print(index,iteams)

0 statistics
1 polital science
2 Data Science
3 Drama
4 Anthropology

In [117]:
for index, iteams in enumerate (subject, start = 1):
    print(index,iteams)

1 statistics
2 polital science
3 Data Science
4 Drama
5 Anthropology

## Touple

In [118]:
tup= ('name', 'value', 'age', 'subject')

In [119]:
tup

('name', 'value', 'age', 'subject')

In [120]:
type(tup)

tuple

In [125]:
tup[2:4]

('age', 'subject')

In [126]:
tup_list = list(tup) # tuple change to list then we can use it as a list

In [127]:
tup_list

['name', 'value', 'age', 'subject']

In [128]:
tup_list.append('weight')

In [129]:
tup_list

['name', 'value', 'age', 'subject', 'weight']

In [133]:
list_tup = tuple(tup_list)

In [135]:
list_tup

('name', 'value', 'age', 'subject', 'weight')

In [136]:
type(list_tup)

tuple

## Set

In [137]:
my_set = {'Rezwan', 'Rafe', 'Alamin', 'Nayem'} #Set does't care about order. It comes alphabitically

In [138]:
my_set

{'Alamin', 'Nayem', 'Rafe', 'Rezwan'}

In [139]:
my_list = ['Rezwan', 'Rafe', 'Alamin', 'Nayem']

In [140]:
my_list

['Rezwan', 'Rafe', 'Alamin', 'Nayem']

In [ ]:
#Intersection()
#difference()
#Union()

In [141]:
A= {'Math', 'Statistics', 'Physics', 'ict', 'bangla'}
B= {'History', 'English', 'Sociology', 'ict', 'Bangla'}

In [142]:
print(A.intersection(B))

{'ict'}

In [145]:
print(B.intersection(A))

{'ict', 'Bangla'}

In [143]:
A= {'Math', 'Statistics', 'Physics', 'ict', 'Bangla'}
B= {'History', 'English', 'Sociology', 'ict', 'Bangla'}

In [144]:
print(A.intersection(B))

{'ict', 'Bangla'}

In [146]:
print(A.difference(B))

{'Math', 'Physics', 'Statistics'}

In [147]:
print(B.difference(A))

{'Sociology', 'English', 'History'}

In [148]:
print(A.union(B))

{'ict', 'History', 'Sociology', 'Bangla', 'Physics', 'English', 'Math', 'Statistics'}

## Dictionary

In [1]:
## Dictionarry is a pair of key and value

In [17]:
my_dict ={'name':'Rezwan', 
          'age': 27, 
          'sub': 'Data and Discourse Studies'
         }

In [16]:
my_dict

{'name': 'Abu',
 'age': 27,
 'sub': 'Data and Discourse Studies',
 'phone': 1234555}

In [7]:
my_dict['phone']=1234555

In [15]:
my_dict

{'name': 'Abu',
 'age': 27,
 'sub': 'Data and Discourse Studies',
 'phone': 1234555}

In [9]:
my_dict['name']= 'Abu'

In [10]:
my_dict

{'name': 'Abu',
 'age': 27,
 'sub': 'Data and Discourse Studies',
 'phone': 1234555}

## For loop

In [20]:
# To print something for ten times
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
# Using start, stop and step
for i in range (1, 20, 3):
    print(i)

1
4
7
10
13
16
19

In [27]:
#Creating a simple num list an looping through it
nums = [1,2,3,4,5,6]

In [30]:
for num in nums:
    print(num)

1
2
3
4
5
6

In [49]:
#Using break in loop

rolls = [1,2,3,4,5,6,7,9]
for roll in rolls:
    if roll ==3:
        print('Congratulations')
        break
    print(roll)

1
2
Congratulations

In [54]:
# Using continue in loop
rolls = [1,2,3,4,5,6,7,9]
for roll in rolls:
    if roll ==3:
        print('Congratulations')
        continue
    print(roll)

1
2
Congratulations
4
5
6
7
9

In [56]:
 for roll in rolls:
        for letters in ('abcd'):
            print(roll, letters)

1 a
1 b
1 c
1 d
2 a
2 b
2 c
2 d
3 a
3 b
3 c
3 d
4 a
4 b
4 c
4 d
5 a
5 b
5 c
5 d
6 a
6 b
6 c
6 d
7 a
7 b
7 c
7 d
9 a
9 b
9 c
9 d

## While loop

In [72]:
x = 0
while x<10:
    print(" Happy birth day to you")
    x = x+1

 Happy birth day to you
 Happy birth day to you
 Happy birth day to you
 Happy birth day to you
 Happy birth day to you
 Happy birth day to you
 Happy birth day to you
 Happy birth day to you
 Happy birth day to you
 Happy birth day to you

In [71]:
x = 0
while x <4 :
    print('Old is gold ')
    x = x+1

Old is gold
Old is gold
Old is gold
Old is gold

In [82]:
#Infinite
y=0
while y<10:
    if y ==5:
        break
    print(y)
    y = y+1

0
1
2
3
4

## If Elif Else Statements

In [1]:
# Build a Temperature Converter which will-
# 1) ask for temperature in Celsius Scale from user.
#2) convert the temperature in Farenheit scale. 9*c /5 + 32 1.8*c
#Test your code using 25.8 as input
#If your output is 78.44 then submit your code